/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    /* --time: 3s; */
    --border_color: #008080;
    --check_color: green;
    --error_color: red;
    /* --top:25px; */
}

body{
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: #f2f2f2;
    overflow-x: hidden;
}

.cus_toast{
    position: absolute;
    top: var(--top);
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-left: 6px solid var(--border_color);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 1000;
}

.cus_toast.active{
    transform: translateX(0%);
}

.cus_toast .cus_toast-content{
    display: flex;
    align-items: center;
}

.cus_toast-content .check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: var(--check_color);
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}
.cus_toast-content .error{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: var(--error_color);
    color: #fff;
    font-size: 30px;
    border-radius: 50%;
}

.cus_toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text{
    font-size: 15px;
    font-weight: 400;;
    color: #666666;
}

.message .text.text-1{
    font-weight: 600;
    color: #333;
}
.message .text.text-3{
    font-weight: 600;
    color: red;
}

.cus_toast .close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.cus_toast .close:hover{
    opacity: 1;
}

.cus_toast .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.cus_toast .progress:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #008080;
}

.progress.active:before{
    animation: progress var(--time) linear forwards;
}

@keyframes progress {
    100%{
        right: 100%;
    }
}

button{
    padding: 12px 20px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #4070f4;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #0e4bf1;
}

.toast.active ~ button{
    pointer-events: none;
}
